* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    text-decoration: none; 
   
} 
 
html,body { 

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: black; 
    width: 100%;
    height: 100;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    

} 
 
.container { 
    display: block; 
} 
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 34px;
    color: #a50bf1;
    text-decoration: none;
    margin: 20px 15px 20px 0;
}
.home-sci a:hover{
    background-color: black; 
    color: #a50bf1; 
    box-shadow: 0 0 20px #a50bf1;
}
 
/* navbar styling */ 
 
.navbar { 
    width: 100%; 
    position: fixed; 
    padding: 10px 0px; 
    padding-left: 10px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: rgb(28, 27, 27);
} 
 
.navbar .logo a { 
    color:white; 
    font-size: 25px; 
    font-weight: 550; 
    margin-left: 25px; 
} 
 
.navbar .menu li { 
    list-style: none; 
    display: inline-block; 
    margin: 0px 10px; 
} 
 
.navbar .logo a span { 
    color: #e4e4dfde; 
} 
 
.navbar .menu li a { 
    display: block; 
    color: white; 
    font-size: 1rem; 
    font-weight: 550; 
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 20px; 
    transition: color 0.3 ease; 
} 
 
.navbar .menu li a:hover { 
    color: black; 
    background-color:#a50bf1; 
} 
 
/* home section styling */ 
 
.home { 
    display: flex; 
    height: 100vh;
    width: 100%;
} 
 
.home .home-content { 
    height: 60vh; 
    width: 98vw; 
    margin: 150px auto; 
    display: flex; 
    justify-content: space-around; 
} 
 
.info { 
    flex-direction: column; 
    display: flex; 
    justify-content: center; 
} 
 
.home .home-content .text-1 { 
    font-size: 35px; 
    color: white; 
} 
 
.home .home-content .text-2 { 
    font-size: 70px; 
    font-weight: 500; 
    margin-left: -3px; 
    color: white; 
} 
 
.home .home-content .text-3 { 
    font-size: 35px; 
    margin: 5px 0; 
    color: white; 
} 
 
.home .home-content .text-3 span { 
    color:#a50bf1; 
    font-weight: 600; 
} 

.portfolio {
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.portfolio h2{
    color: yellow;
    padding: 50px;
    font-size: 50px;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}





.education-row .education-column {
    flex: 1 1 40rem;
}
.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem
}

.education-column .education-box {
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

/*project*/

.main-text{
    padding-top: 40px;
    margin-top: 30px;

}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h2 span{
    color: aqua;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px,auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    height: 130%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0,1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #a50bf1;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color:yellow;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: pink;
    margin-top: 20px;
    font-size: 20px;
    background: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 80%;
}


/*button*/
 
.buttons button { 
    padding: 5px 7px; 
    border-radius: 25px; 
    color: rgb(11, 11, 11); 
    background-color: #a50bf1; 
    font-weight: bold; 
    font-size: 16px; 
    cursor: pointer; 
    margin: 25px 15px; 
} 
 
.buttons button:hover { 
    background-color: black; 
    color: #a50bf1; 
} 
 
.profile img { 
    height: 50vh; 
    width: 50vh; 
    border: 9px solid #a50bf1; 
    border-radius: 60%; 
    margin: 30px; 
    /* display: flex; */ 
} 
 
.footer { 
    padding: 20px 0; 
    background-color: rgb(23, 22, 22)
} 
 
.footer .social { 
    text-align: center; 
    padding-bottom: 25px; 
} 
 
.footer .social a { 
    width: 40px; 
    height: 40px; 
    font-size: 30px; 
    padding: 4px; 
    display: inline-block; 
    text-align: center; 
    border-radius: 50%; 
    margin: 0 8px; 
    opacity: 0.75; 
    color: black; 
    background-color:#a50bf1
} 
 
.footer .social a:hover { 
    background-color: black; 
    color: #a50bf1; 
} 
 
.footer ul { 
    margin-top: 0px; 
    padding: 0px; 
    list-style: none; 
    font-size: 1rem; 
    line-height: 1.6; 
    margin-bottom: 0; 
    text-align: center; 
} 
 
.footer ul a { 
    text-decoration: none; 
    color: white; 
    opacity: 0.8; 
    font-weight: bold; 
} 
 
.footer ul li { 
    display: inline-block; 
    padding: 0 15px; 
} 
 
.footer ul li a:hover { 
    color: #a50bf1; 
} 
 
.footer .copyright { 
    margin-top: 15px; 
    text-align: center; 
    font-size: 15px; 
    color: #a50bf1; 
} 
 
/* contact section */ 


 
.contactform { 
    background-color:black; 
} 
 
.contactform h1 { 
    padding-top: 80px; 
    padding-bottom: 40px;
    text-align: center;
    font-size: 50px;
    color:yellow;
} 
 
.contactform form div .form-label { 
    font-weight: bold; 
} 
 
.contactform form div { 
    padding: 7px 0px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 
 
.contactform form div input { 
    width: 40vw; 
    border-radius: 7px; 
    margin: 6px 0 0 0; 
    padding: 5px; 
 
} 
 
#emailHelp { 
    font-size: 11px; 
    color: yellow; 
    margin: 0px 5px; 
} 
 
#form-check { 
    flex-direction: row; 
    justify-content: center; 
} 
 
#form-check input { 
    width: 24px; 
    margin: 3px 0; 
    justify-content: center; 
} 
 
.btn { 
    margin: 10px auto; 
    display: flex; 
    padding: 6px 10px; 
    border-radius: 15px; 
    color: black; 
    background-color: yellow; 
    font-weight: bold; 
    font-size: 15px; 
    cursor: pointer; 
} 
 
.btn:hover { 
    background-color: white; 
    color: #a50bf1; 
} 




/* about section  */ 
.about { 
    color: white;
    background-color:black; 
    text-align: center; 
} 
 
.about h1 { 
    font-size: 50px;
    color: #a50bf1;
    padding: 20px 0; 
} 
.about p { 
    margin: 0 200px; 
    font-size: 20px; 
} 
 

/* skill*/
#skill{
    
    background-color: black;
    text-align: center;

}
#skill p{
    color: #a50bf1;
    text-align: center;
    font-size: 30px;
    padding-bottom: 70px;
}
 
#skill h2 { 
    font-size: 50px;
    text-align: center;
    color:#a50bf1;
    padding: 20px 0; 
} 

#skill h3{
    color: #a50bf1;
    text-align: center;
    font-size: 50px;
    padding-top:  50px;
    padding-bottom: 40px;
}
 
 
#skill .box { 
    height: 100px; 
    width: 270px; 
    /* border: 4px solid black; */ 
    text-align: center; 
    display: inline-block; 
    margin: 20px; 
    border-radius: 20px; 
    background-color: #a50bf1; 
} 
 
.skill.box.skillitem { 
    color: rgb(165, 23, 23); 
    margin-top: 10px; 
    font-weight: bold; 
} 
 
.pic img { 

    height: 50px; 
    width: 50px; 
    margin: 10px;
    margin-left: 40px; 
    margin-right: 40px;
} 
 
.skill-t1 { 
    height: 20px; 
    width: 175px; 
    margin: 20px 10px; 
    background-color: #dad8d8; 
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px; 
} 
 
.skill-t2 { 
    height: 20px; 
    width: 125px; 
    margin: 20px 10px; 
    background-color: #fff; 
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px; 
} 
 
.skill-t3 { 
    height: 20px; 
    width: 200px; 
    margin: 20px 10px; 
    background-color: #fff; 
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px; 
} 
 
.skill-t4 { 
    height: 20px; 
    width: 200px; 
    margin: 20px 10px; 
    background-color: #fff; 
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px; 
} 
 
.skill-t5 { 
    height: 20px; 
    width: 125px; 
    margin: 20px 10px; 
    background-color: #fff; 
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px; 
} 
 
.skill-t6 { 
    height: 20px; 
    width: 200px; 
    margin: 20px 10px; 
    background-color: #fff; 
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px; 
} 
.skill-t7 { 
    height: 20px; 
    width: 175px; 
    margin: 20px 10px; 
    background-color: #fff; 
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px; 
} 
.skill-t8 { 
    height: 20px; 
    width: 125px; 
    margin: 20px 10px; 
    background-color: #fff; 
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px; 
} 
 
/* service section  */ 
#services { 
    display: flex; 
    flex-direction: column; 
    padding: 35px; 
    align-items: center; 
    color: black;
    background-color: black; 
} 
 
#services h1 { 
    color: black;
    margin: 15px 0px; 
} 
#services h2 { 
    font-size: 50px;
    color: #a50bf1;
    margin: 15px 0px; 
}
.row { 
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    box-sizing: border-box; 
    margin: 30px; 
} 
 
.box1 { 
    display: flex; 
    flex-direction: column; 
    width: 250px; 
    height: 350px; 
    border: 1px solid black; 
    margin: 20px; 
    text-align: center; 
    align-items: center; 
    padding: 10px; 
    border-radius: 15px; 
    background: linear-gradient(to top, #a50bf1 50%, white 50%); 
    background-size: 100% 200%; 
    transition: all .8s; 
} 
 
.box1:hover { 
    background-position: left bottom; 
    /* color: white; */ 
    border: none; 
    box-shadow: 0 0 20px #a50bf1; 
    background-size: 100% 200%; 
} 
 
.box1 img { 
    height: 70px; 
    width: 70px; 
} 




 
 
@media (max-width: 1000px) { 
 
    /* navbar  */ 
    .navbar { 
        flex-direction: column; 
    } 
 
    .navbar .menu li a { 
        padding: 5px 0px; 
        margin: 8px 0px; 
        font-size: 0.7rem; 
    } 
 
 
@media (max-width: 1000px) { 
 
    /* navbar  */ 
    .navbar { 
        flex-direction: column; 
    } 
 
    .navbar .menu li a { 
        padding: 5px 0px; 
        margin: 8px 0px; 
        font-size: 0.7rem; 
    } 

}
#experience.h1{
    text-align: center;
    color: #0ef;
}


 
    /* home  */ 
 
    .home-content { 
        flex-direction: column-reverse; 
        text-align: center; 
    } 
 
    .profile img { 
        height: 30vh; 
        width: 30vh; 
    } 
 
    .home .home-content .text-1 { 
        font-size: 20px; 
    } 
 
    .home .home-content .text-2 { 
        font-size: 45px; 
        font-weight: 350; 
    } 
 
    .home .home-content .text-3 { 
        font-size: 25px; 
    } 
 
    .buttons button { 
        padding: 5px 8px; 
        font-size: 14px; 
        margin: 25px 10px; 
    } 
 
    .footer ul { 
        font-size: 0.8rem; 
    } 
 
    .footer .social a { 
        font-size: 20px; 
        width: 30px; 
        height: 30px; 
    } 
 
    .footer ul li { 
        display: inline-block; 
        padding: 0 6px; 
    } 
 
    .contactform form div input { 
        width: 80%; 
    } 
 
    .about p { 
        margin: 0 10px; 
        font-size: 20px; 
    } 
 
    .about .box { 
        margin: 20px 5px; 
    } 


}